@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222 47% 11%; /* slate-900 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 222 47% 11%; /* slate-900 */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222 47% 11%; /* slate-900 */
    --primary: 164 95% 24%; /* emerald-700 */
    --primary-foreground: 0 0% 98%; /* almost white */
    --secondary: 215 28% 94%; /* slate-100 */
    --secondary-foreground: 222 47% 11%; /* slate-900 */
    --muted: 215 28% 94%; /* slate-100 */
    --muted-foreground: 215 14% 53%; /* slate-500 */
    --accent: 165 90% 30%; /* emerald-600 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 98%;
    --warning: 45 93% 47%;
    --warning-foreground: 0 0% 98%;
    --border: 215 20% 91%; /* slate-200 */
    --input: 215 20% 91%; /* slate-200 */
    --ring: 164 95% 24%; /* emerald-700 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%; /* slate-900 */
    --foreground: 0 0% 98%;
    --card: 222 47% 11%; /* slate-900 */
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%; /* slate-900 */
    --popover-foreground: 0 0% 98%;
    --primary: 165 90% 30%; /* emerald-600 */
    --primary-foreground: 0 0% 98%;
    --secondary: 222 31% 20%; /* slate-800 */
    --secondary-foreground: 0 0% 98%;
    --muted: 222 31% 20%; /* slate-800 */
    --muted-foreground: 215 19% 69%; /* slate-400 */
    --accent: 165 90% 30%; /* emerald-600 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 70% 50%;
    --success-foreground: 0 0% 98%;
    --warning: 48 96% 53%;
    --warning-foreground: 0 0% 98%;
    --border: 222 31% 20%; /* slate-800 */
    --input: 222 31% 20%; /* slate-800 */
    --ring: 165 90% 30%; /* emerald-600 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
